.gitbook/assets/flow.json
[{
    "id": "73bd8b04.8924f4",
    "type": "function",
    "z": "2880f3a8.92944c",
    "name": "array[0] for temp, [1] for time, [2] for json template",
    "func": "if(msg){\n    \n    var a = msg.payload[0].values.t;\n    msg.payload = [];\n    msg.payload[0] = a;\n    msg.payload[1] = new Date();\n    msg.payload[2] = {\n  \"method\": \"r_insert\",\n  \"params\": [\n    {\n      \"offline\": false,\n      \"secret\": \"xnoPBzXtMeMyMHUVTgbuqAfg1SUTb\",\n      \"tx_json\": {\n        \"TransactionType\": \"SQLStatement\",\n        \"Account\": \"zHb9CJAWyB4zj91VRWn96DkukG4bwdtyTh\",\n        \"Owner\": \"zHb9CJAWyB4zj91VRWn96DkukG4bwdtyTh\",\n        \"Tables\": [\n          {\n            \"Table\": {\n              \"TableName\": \"SimulatedTemperature\"\n            }\n          }\n        ],\n        \"Raw\": [\n          {\n            \"timestamp\": \"TEST_TIMESTAMP_2\",\n            \"temperature\": 11.1\n          }\n        ],\n        \"OpType\": 6\n      }\n    }\n  ]\n}\nreturn msg;} ",
    "outputs": 1,
    "noerr": 0,
    "x": 270,
    "y": 260,
    "wires": [
        ["d9b97e53.63221"]
    ]
}, {
    "id": "a5d102d0.f172",
    "type": "http request",
    "z": "2880f3a8.92944c",
    "name": "GET sensor properties",
    "method": "GET",
    "ret": "obj",
    "url": "192.168.1.237:8484/properties",
    "tls": "",
    "x": 600,
    "y": 140,
    "wires": [
        ["73bd8b04.8924f4"]
    ]
}, {
    "id": "e905aaa7.beb738",
    "type": "function",
    "z": "2880f3a8.92944c",
    "name": "set payload and headers",
    "func": "msg.payload = \"data to post\";\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 140,
    "wires": [
        ["a5d102d0.f172"]
    ]
}, {
    "id": "d9b97e53.63221",
    "type": "json",
    "z": "2880f3a8.92944c",
    "name": "JSON to JS obj",
    "property": "payload[2]",
    "action": "obj",
    "pretty": false,
    "x": 580,
    "y": 260,
    "wires": [
        ["163bd2ee.e1acbd"]
    ]
}, {
    "id": "163bd2ee.e1acbd",
    "type": "function",
    "z": "2880f3a8.92944c",
    "name": "update the sensor info",
    "func": "if(msg){\n    msg.payload[2].params[0].tx_json.Raw[0].timestamp = msg.payload[1];\n    msg.payload[2].params[0].tx_json.Raw[0].temperature = msg.payload[0];\n    msg.payload = msg.payload[2];\n    return msg;\n}\n",
    "outputs": 1,
    "noerr": 0,
    "x": 200,
    "y": 360,
    "wires": [
        ["b484549.29f48a8"]
    ]
}, {
    "id": "8d468292.cfdf7",
    "type": "inject",
    "z": "2880f3a8.92944c",
    "name": "",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 110,
    "y": 140,
    "wires": [
        ["e905aaa7.beb738"]
    ]
}, {
    "id": "b484549.29f48a8",
    "type": "http request",
    "z": "2880f3a8.92944c",
    "name": "POST to ChainSQL",
    "method": "POST",
    "ret": "obj",
    "url": "http://192.168.1.141:5005",
    "tls": "",
    "x": 570,
    "y": 360,
    "wires": [
        ["a616d47d.265be8"]
    ]
}, {
    "id": "a616d47d.265be8",
    "type": "debug",
    "z": "2880f3a8.92944c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 810,
    "y": 360,
    "wires": []
}]